.page-title {
    -fx-text-fill: black;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
}

.page-background {
    -fx-background-color: #f0f0f0;
}

.mode-title {
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.big-hint {
    -fx-text-fill: black;
    -fx-font-size: 20px;
}

.small-hint {
    -fx-text-fill: black;
    -fx-font-size: 15px;
}

.list-background {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-control-inner-background: #f0f0f0;
    -fx-control-inner-background-alt: #f0f0f0;
}

.list-background .list-cell {
    -fx-background-color: #f0f0f0;
}

.list-background .list-cell:filled:selected,
.list-background .list-cell:filled:selected:focused {
    -fx-background-color: grey;
    -fx-text-fill: black;
}

.list-background .list-cell:filled:hover {
    -fx-background-color: #C0C0C0;
}

.list-background .virtual-flow .corner {
    -fx-background-color: #f0f0f0;
}

.split-pane > .split-pane-divider {
    -fx-padding: 0 0 0 1px;
}

.placeholder-background {
    -fx-background-color: white;
}